@page
@model MegaDeskRazor.Pages.AddQuote.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2 class="h1 padding-top">Quote Details</h2>
    <hr />
    <div class="padding-2 margin-auto half-width create-form marginbottom">
        <dl class="row margin-auto">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.QuoteForm.CustomerName)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.QuoteForm.CustomerName)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.QuoteForm.QuoteDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.QuoteForm.QuoteDate)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.QuoteForm.Width)
            </dt>
            <dd class="col-sm-6">
                @{
                    var inches = Model.QuoteForm.Width + " in";
                }
                @Html.DisplayFor(model => inches)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.QuoteForm.Depth)
            </dt>
            <dd class="col-sm-6">
                @{
                    var inches2 = Model.QuoteForm.Depth + " in";
                }
                @Html.DisplayFor(model => inches2)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.QuoteForm.Area)
            </dt>
            <dd class="col-sm-6">
                @{
                    var insq = (Model.QuoteForm.Area).ToString("N0") + " in";
                }
                @Html.DisplayFor(model => insq)&#xB2;
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.QuoteForm.Drawers)

            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.QuoteForm.Drawers)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.QuoteForm.Material)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.QuoteForm.Material)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.QuoteForm.RushOption)
            </dt>
            <dd class="col-sm-6">
                @{
                    var days = Model.QuoteForm.RushOption + " days";
                }
                @Html.DisplayFor(model => days)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.QuoteForm.Total)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => Model.QuoteForm.Total)
            </dd>
        </dl>
    </div>

</div>
<div>
    <a class="btn btn-outline-warning" asp-page="./Edit" asp-route-id="@Model.QuoteForm.ID">Edit</a> |
    <a class="btn btn-outline-secondary" asp-page="./Index">Back to List</a>
</div>
