@page
@model MegaDeskRazor.Pages.Materials.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2 class="h1 padding-top">Desktop Materials</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SurfaceMaterial[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurfaceMaterial[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurfaceMaterial[0].ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SurfaceMaterial) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
        </tr>
}
    </tbody>
</table>
