@page
@model MegaDeskRazor.Pages.Materials.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2 class="h1 padding-top margin">Desktop Materials</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SurfaceMaterial[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurfaceMaterial[0].Cost)
            </th>

            @*<th>
                @Html.DisplayNameFor(model => model.SurfaceMaterial[0].ImagePath)
            </th>*@

            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SurfaceMaterial) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>

            @*<td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>*@

            <td>
                @{
                    var src = "lib/Images/" + @item.Material + ".jpg";
                 }
                <img class="deskimg" src="@src" width="75" height="75" />
            </td>
        </tr>
}
    </tbody>
</table>
