@model SacramentMeetingPlanner.Models.Bulletin
@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "Details";
    var speakerNumber = 1;
}

<h1 class="d-print-none">Details</h1>

<div>
    <h4 class="d-print-none">Bulletin</h4><br />
    <dl class="border width">

        <div>
            <dt class="h3 text-center">The Church of Jesus Christ of Latter-day Saints</dt>
            <dd class="col-sm-12 text-center p-0 h5">
                @Html.DisplayFor(model => model.BulletinDate)
            </dd>
        </div>
        <div class="dots row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Conducting)
            </dt>
            <dd class="col-sm-8 text-right">
                @Html.DisplayFor(model => model.Conducting)
            </dd>
        </div>
        <div class="dots row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.OpeningSong)
            </dt>
            <dd class="col-sm-8 text-right">
                @Html.DisplayFor(model => model.OpeningSong)
            </dd>
        </div>
        <div class="dots row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Invocation)
            </dt>
            <dd class="col-sm-8 text-right">
                @Html.DisplayFor(model => model.Invocation)
            </dd>
        </div>
        <div class="dots row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.SacramentSong)
            </dt>
            <dd class="col-sm-8 text-right">
                @Html.DisplayFor(model => model.SacramentSong)
            </dd>
        </div>
        @if (Model.Speakers.Any(s => s.BeforeHymn))
        {
            var sBefore = Model.Speakers.Where(s => s.BeforeHymn);
            foreach (var speaker in sBefore)
            {
                <div class="dots row">
                    <dt class="col-sm-4">
                        @($"Speaker {speakerNumber++}")
                    </dt>
                    <dd class="col-sm-8 text-right">
                        @($"{speaker.FullName} - {speaker.Topic}")
                    </dd>
                </div>

            }
        }

        @if (Model.IntermediateSong != "" && Model.IntermediateSong != null)
        {
            <div class="dots row">

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IntermediateSong)
                </dt>
                <dd class="col-sm-8 text-right">
                    @Html.DisplayFor(model => model.IntermediateSong)
                </dd>
            </div>

        }
            @if (Model.Speakers.Any(s => !s.BeforeHymn))
            {
                var sAfter = Model.Speakers.Where(s => !s.BeforeHymn);
                foreach (var speaker in sAfter)
                {
                    <div class="dots row">
                        <dt class="col-sm-4">
                            @($"Speaker {speakerNumber++}")
                        </dt>
                        <dd class="col-sm-8 text-right">
                            @($"{speaker.FullName} - {speaker.Topic}")
                        </dd>
                    </div>

                }
            }
        
        <div class="dots row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ClosingSong)
            </dt>
            <dd class="col-sm-8 text-right">
                @Html.DisplayFor(model => model.ClosingSong)
            </dd>
        </div>

        <div class="w-80 row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Benediction)
            </dt>
            <dd class="col-sm-8 text-right">
                @Html.DisplayFor(model => model.Benediction)
            </dd>
        </div>
    </dl>
</div>
<br />
<div class="d-print-none">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a><br /><br />
    <button type="button" class="btn btn-primary" onclick="window.print()">Print</button>
</div>