@model SacramentMeetingPlanner.Models.Bulletin
@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bulletin</h4>
    <dl class="border width">

        <div>
            <dt class="h3 text-center">The Church of Jesus Christ of Latter-day Saints</dt>
            <dd class="col-sm-12 text-center p-0 h5">
                @Html.DisplayFor(model => model.BulletinDate)
            </dd>
        </div>
        <div class="dots row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Conducting)
            </dt>
            <dd class="col-sm-8 text-right">
                @Html.DisplayFor(model => model.Conducting)
            </dd>
        </div>
        <div class="dots row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.OpeningSong)
            </dt>
            <dd class="col-sm-8 text-right">
                @Html.DisplayFor(model => model.OpeningSong)
            </dd>
        </div>
        <div class="dots row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Invocation)
            </dt>
            <dd class="col-sm-8 text-right">
                @Html.DisplayFor(model => model.Invocation)
            </dd>
        </div>
        <div class="dots row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.SacramentSong)
            </dt>
            <dd class="col-sm-8 text-right">
                @Html.DisplayFor(model => model.SacramentSong)
            </dd>
        </div>
        @if (Model.Speaker != "" && Model.Speaker != null)
        {
            <div class="dots row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Speaker)
                </dt>
                <dd class="col-sm-8 text-right">
                    @Html.DisplayFor(model => model.Speaker) -
                    @Html.DisplayFor(model => model.Topic)
                    
                    </dd>
            </div>
            }

        
            @if (Model.IntermediateSong != "" && Model.IntermediateSong != null)
            {
                <div class="dots row">

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.IntermediateSong)
                    </dt>
                    <dd class="col-sm-8 text-right">
                        @Html.DisplayFor(model => model.IntermediateSong)
                    </dd>
                </div>

            }


            <div class="dots row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ClosingSong)
                </dt>
                <dd class="col-sm-8 text-right">
                    @Html.DisplayFor(model => model.ClosingSong)
                </dd>
            </div>

            <div class="w-80 row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Benediction)
                </dt>
                <dd class="col-sm-8 text-right">
                    @Html.DisplayFor(model => model.Benediction)
                </dd>
            </div>
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
