@model IEnumerable<SacramentMeetingPlanner.Models.Bulletin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index of Meetings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BulletinDate)
            </th>            
            <th class="hidden" id="conhead">
                @Html.DisplayNameFor(model => model.Conducting)
            </th>
            <th class="hidden" id="osonghead">
                @Html.DisplayNameFor(model => model.OpeningSong)
            </th>
            <th class="hidden" id="invohead">
                @Html.DisplayNameFor(model => model.Invocation)
            </th>
            <th class="hidden" id="sacsonghead">
                @Html.DisplayNameFor(model => model.SacramentSong)
            </th>
            <th id="speakerhead">
                Speaker(s)
            </th>
            <th id="topichead">
                Topic(s)
            </th>
            <th class="hidden" id="intsonghead">
                @Html.DisplayNameFor(model => model.IntermediateSong)
            </th>
            <th class="hidden" id="csonghead">
                @Html.DisplayNameFor(model => model.ClosingSong)
            </th>
            <th class="hidden" id="benehead">
                @Html.DisplayNameFor(model => model.Benediction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BulletinDate)
            </td>
            <td class="hidden" id="con">
                @Html.DisplayFor(modelItem => item.Conducting)
            </td>
            <td class="hidden" id="osong">
                @Html.DisplayFor(modelItem => item.OpeningSong)
            </td>
            <td class="hidden" id="invo">
                @Html.DisplayFor(modelItem => item.Invocation)
            </td>
            <td class="hidden" id="sacsong">
                @Html.DisplayFor(modelItem => item.SacramentSong)
            </td>
            <td id="speaker">
                @{
                    var sName = item.Speakers.Select(s => s.FullName);
                    var stringName = String.Join(", ", sName);
                }
                    @stringName
            </td>
            <td id="topic">
                @{
                    var sTopic = item.Speakers.Select(s => s.Topic);
                    var stringTopic = String.Join(", ", sTopic);
                }
                    @stringTopic
            </td>
            <td class="hidden" id="intsong">
                @Html.DisplayFor(modelItem => item.IntermediateSong)
            </td>
            <td class="hidden" id="csong">
                @Html.DisplayFor(modelItem => item.ClosingSong)
            </td>
            <td class="hidden" id="bene">
                @Html.DisplayFor(modelItem => item.Benediction)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
