@model SacramentMeetingPlanner.Models.Speaker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Speaker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bulletin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bulletin.ClosingSong)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpeakerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
